
body {

    margin: 5px;
    font-family: 'Concert One';
    background-color: cadetblue;    
}

header {
    
    text-align: center;
    margin: 5px;
    padding: 5px;   
    font-family: 'Concert One';    
    border-style: solid;
    border-color: black;
    background: white;
}

p {

    color: black;
    font-size: 15px;
    text-align: center;
    background: silver;
    padding-bottom: 25px;
    border-style: solid;
    border-color: black;
}

.title {

    color: black;
    font-size: 45px;
    text-align: center;
    background: silver;
    padding-bottom: 25px;
    border-style: solid;
    border-color: black;
}


.main_box {

    color: black;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;   
    flex-direction: column;
    background: white;    
}

.info_box {

    color: black;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: silver;
}

.select_box {

    color: black;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 15px;
    text-align: center;
    background: silver;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
}

.list_box {

    color: black;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    margin: 5px;
    background: white;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.gas_card {

    font-size: 15px;
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 5px;
    background-color: cadetblue;
    display: inline-block;
}

.station_info {

    font-size: 15px;
    text-align: center;
    border-style: solid;
    border-color: black;
    margin: 2px;
    padding-bottom: 15px;
    background-color: white;
}

.gas_prices {

    font-size: 15px;
    text-align: center;
    border-style: solid;
    border-color: black;
    margin: 2px;
    padding: 5px;
    padding-bottom: 15px;
    background-color: white;
}

.map_box {

    color: black;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 5px;
    height: 100%;
    background: silver;
}

#map {
    height: 100vh;
}

footer {
    
    text-align: center;
    margin: 5px;
    padding: 5px;   
    font-family: 'Concert One';    
    border-style: solid;
    border-color: black;
    background: white;
}